* { margin:0; padding: 0; font-family: Roboto, Helvetica, Arial, sans-serif; box-sizing: border-box; }
html, body { width: 100%; height: 100%; overflow: hidden; }
button, .list > li { cursor: pointer; }
button:focus, div:focus { outline: 0; }

body { position: relative; }

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    transition: left .2s;
}

.page.invisible {
    left: 100%;
}

/* https://www.material.io/components/app-bars-top/#specs */
.page > .header {
    display: flex;
    height: 56px;
    padding: 0 16px;
    align-items: center;
}

.page > .header > button {
    width: 24px;
    height: 24px;
    background: transparent center no-repeat;
    border: none;
}

.page > .header > .hamburger, .page > .header > .back {
    margin-right: 32px;
}

.page > .header > .title {
    flex: 1;
    font-size: 20px;
}

.page > .header > .more {
    margin-left: 24px;
    position: relative;
}

/* https://support.google.com/adsense/answer/6002621?hl=de */
.page > .bannerad {
    background: rgba(255, 0, 0, 0.171);
    height: 50px;
    text-align: center;
    align-self: center;
}

.page > .content {
    flex: 1;
    overflow: auto;
}

/* https://www.material.io/components/buttons-floating-action-button/#specs */
.fab {
    border: none;
    border-radius: 28px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    position: fixed;
    bottom: 16px;
    right: 16px;
    min-width: 56px;
    height: 56px;
    background: transparent center no-repeat;
}

.fab-2 {
    bottom: 96px;
}

.fab-3 {
    bottom: 168px;
}

.fab-small {
    border-radius: 20px;
    min-width: 40px;
    height: 40px;
    right: 24px;
}

.fab-small.fab-3 {
    bottom: 152px;
}

.fab-small.fab-extended {
    font-size: 14px;
    padding: 0 20px 0 40px;
    background-position-x: 10px;
    text-transform: uppercase;
}

/* https://www.material.io/components/menus/#specs */
.moremenu {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 24px;
    text-align: left;
    background-color: white;
    padding: 8px 0;
    min-width: 112px;
    border-radius: 4px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12); /* https://stackoverflow.com/a/39199702 */
}

.moremenu > li {
    list-style-type: none;
    line-height: 48px;
    padding: 0 16px;
}

/* https://www.material.io/components/lists/#specs, https://www.material.io/components/dividers/#specs */
.list > li {
    list-style-type: none;
    display: flex;
    min-height: 48px;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid;
}

.list > li:last-child {
    border-bottom: none;
}

.list > li > .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 16px;
    align-self: flex-start;
}

.list > li > div {
    flex: 1;
    min-width: 0;
}

.list > li > div > h1 {
    font-weight: normal;
    font-size: 16px;
}

.list > li > div > h2 {
    font-weight: normal;
    font-size: 14px;
}

.list > li > div > h2.oneline {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list > li > div > h2.twolines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list > li > .info {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

/* https://www.material.io/components/dialogs/#specs */
.dialog {
    width: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12),
    0px 0px 0px 999px #232F3457;
}

.dialog > h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 24px 0 24px;
}

.dialog > p {
    font-size: 16px;
    padding: 20px 24px 0 24px;
}

.dialog > .buttonbar {
    margin-top:28px;
    padding: 8px;
    display: flex;
    flex-direction: row-reverse;
}

/* https://www.material.io/components/buttons/#specs */
.dialog > .buttonbar > button {
    min-width: 64px;
    text-align: center;
    height: 36px;
    background: none;
    padding: 0 8px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
}

/* https://www.material.io/components/cards/#specs */
.card {
    padding: 0 24px 24px 16px;
}

.card > h1 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.card > h2 {
    margin-top: 18px;
    font-weight: normal;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.card > h3 {
    margin-top: 12px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.card > p {
    margin-top: 12px;
}

.chat {
    background-color: #E6DDD4;
    display: flex;
    flex-direction: column;
}

.chat > ul {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat > ul > li {
    position: relative;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 4px 16px;
    max-width: 80%;
    list-style: none;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.chat > ul > li.left {
    align-self: flex-start;
    border-top-left-radius: 0;
}

.chat > ul > li.left:before {
    content: "";
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid;
    transform: rotate(45deg);
    left: -11px;
    top: -1px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2)
}

.chat > ul > li.right {
    align-self: flex-end;
    border-top-right-radius: 0;
}

.chat > ul > li.right:after {
    content: "";
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid;
    transform: rotate(-45deg);
    right: -11px;
    top: -1px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2)
}

.footer > .info {
    font-size: 10px;
    padding: 2px 4px 0 16px;
}

.footer > .input {
    display: flex;
    align-items: center;
}

.footer > .input > div {
    font-size: 16px;
    border-radius: 28px;
    flex: 1;
    cursor: text;
    padding: 8px 16px;
    margin: 4px 2px;
    max-height: 90px;
    overflow: auto;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.footer > .input > .send {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.progressbar {
    height: 4px;
    position: relative;
}

.progressbar::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 4px;
    left: 0;
    top: 0;
    animation: progressbar 2s linear infinite;
}

.progressspinner {
    position: relative;
}

.progressspinner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 0px 999px #FFFFFFEE;
    z-index: 1;
}

.progressspinner::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    border: 4px solid;
    border-radius: 30px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: progressspinner 1.2s linear infinite;
    z-index: 2;
}

.grid {
    padding: 8px;
    text-align: center;
}

.grid > li {
    margin: 16px;
    display: inline-block;
    list-style-type: none;
    width: 272px;
    height: 272px;
    border-radius: 4px;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@keyframes progressbar {
    0% { left: -112px; width: 112px; }
    50% { width: 224px; }
    100% { left: 100%; width: 112px; }
}

@keyframes progressspinner {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
