.page > .header, .fab, .progressbar::after {
    background-color: #6200EE;
}

.chat {
    background-color: #E6DDD4;
}

.dialog > .buttonbar > button {
    color: #6200EE;
}

.progressbar {
    background-color: #6200ee99;
}

.progressspinner::after {
    border-color: #6200EE transparent;
}

h2, p {
    color: #00000099;
}

h3, .footer > .info {
    color: #0000008A;
}

.moremenu, h1, .card > h2, .fab-outline, .chat > ul > li, .footer > .input > div {
    color: #000000DE;
}

.list > li {
    border-color:  #0000001E;
}

.moremenu > li:hover, .list > li:hover, .dialog > .buttonbar > button:hover, .fab-outline:hover {
    background-color:  #6200EE0A;
}

.dialog, .fab-outline, .chat > ul > li.left, .chat > .footer > .input > div {
    background-color: white;
}

.chat > ul > li.left:before {
    border-bottom-color: white;
}

.chat > ul > li.right {
    background-color: #D4F0B9;
}

.chat > ul > li.right:after {
    border-bottom-color: #D4F0B9;
}

.page > .header > .title {
    color: white;
}

.page > .header > .hamburger {
    background-image: url(../icons/white/menu.png);
}

.page > .header > .back {
    background-image: url(../icons/white/back.png);
}

.page > .header > .more {
    background-image: url(../icons/white/more_vert.png);
}

.fab.chat {
    background-image: url(../icons/white/chat.png);
}

.fab.close {
    background-image: url(../icons/white/close.png);
}

.fab.add {
    background-image: url(../icons/darkgrey/add.png);
}

.fab.input {
    background-image: url(../icons/darkgrey/input.png);
}

.footer > .input > .send {
    background-image: url(../icons/darkgrey/send.png);
}