.page > .header, .fab {
    background-color: #6200EE;
}

.dialog > .buttonbar > button {
    color: #6200EE;
}

h2, p {
    color: #00000099;
}

h3 {
    color: #0000008A;
}

.moremenu, h1, .card > h2, .fab-outline {
    color: #000000DE;
}

.list > li {
    border-color:  #0000001E;
}

.moremenu > li:hover, .list > li:hover, .dialog > .buttonbar > button:hover, .fab-outline:hover {
    background-color:  #6200EE0A;
}

.dialog, .fab-outline {
    background-color: white;
}

.page > .header > .title {
    color: white;
}

.page > .header > .hamburger {
    background-image: url(../icons/white/menu.png);
}

.page > .header > .back {
    background-image: url(../icons/white/back.png);
}

.page > .header > .more {
    background-image: url(../icons/white/more_vert.png);
}

.fab.chat {
    background-image: url(../icons/white/chat.png);
}

.fab.close {
    background-image: url(../icons/white/close.png);
}

.fab.add {
    background-image: url(../icons/darkgrey/add.png);
}

.fab.input {
    background-image: url(../icons/darkgrey/input.png);
}
